@import url('https://fonts.googleapis.com/css?family=Lato');
$break-point-large: 1500px;
$break-point-medium-large: 1175px;

html {
  scroll-behavior: smooth;
}


footer {
  height: 100px;
  grid-column: 1 / -1;
  background-color: rgb(37, 36, 36);
  margin-top: 100px;
}

.grid {
  display: grid;
  grid-template-columns: auto 30% 30% auto;

  @media screen and (max-width: $break-point-large) {
    grid-template-columns: auto 40% 40% auto;
  }

  @media screen and (max-width: $break-point-medium-large) {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

.banner {
  display: grid;
  height: 100vh;
  grid-template-columns: inherit;
  grid-column: 1/ -1;
  background-size: cover;
  background-image: url("./images/ian-wagg-sfyD5fNmDwk-unsplash_dark.jpg");

}

.logo-header {
position: absolute;
top: -50px;
left:50%;
transform: translate(-50%);
height: 175px;
}

.logo-main {
  grid-column: 2;
  height: 400px;
  margin-top: 30%;

}

.side-image {
  grid-column: 3;
  height: 600px;
  width: 400px;
  margin: -100px 0 0 50px;
  background-image: url("./images/photo-1546215080-3a192299acc2.jpg");
  background-size: cover;

  @media screen and (max-width: $break-point-medium-large) {
    display: none;
  }
}

.a-propos {
  grid-column: 2/3;
  font-family: Lato;
  padding-right: 55px;
  color: #474541;
  font-size: 1.2rem;
  text-align: left;
  min-width: 400px;
  
  @media screen and (max-width: $break-point-medium-large) {
    grid-column: 1/-1;
    padding: 20px
  }
}

.total-text {
  grid-column: 2/3;
  margin: 100px 0 100px 50px;
  width: 600px;
  font-size: 3.5rem;
  font-family: 'Libre Franklin';
  font-weight: bold;
}

.total {
  position: relative;
  grid-column: 3/4;
  height: 270px;
  width: 270px;
  border-radius: 150px;
  margin: 100px 0 0 130px;
  background-color: lightgray;

  h1 {
    font-size: 6rem;
    position: absolute;
    left: 50px;
    bottom: 40px;
    margin-bottom: 0;
  }
}

.stats-banner {
  margin-top: 100px;
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/5;
  background-color:rgb(244, 244, 244);
  height: 350px;
  position: relative;
}

.stats {
  display: flex;
  flex-direction: row;
  grid-column: 2/4;
  margin-top: -90px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 25%;
  cursor: pointer;

  strong {
    font-size: 3em;
  }

  p {
    font-family: 'Libre Franklin';
    font-weight: bolder;
    font-size: 1.7em;
    text-align: center;
  }

}

.section-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  width: 375px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 0;
  background-color: white;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  border-right: 1px solid #44444446;
  transition: 0.5s;

  a {
    text-decoration: none;
    color: #444444;
    padding-bottom: 25px;
    transition: 0.3s;
  }
}

.line{
  border-bottom: 3px solid black;
  width: 100px;
  margin: 30px 0 60px 0;
}
.opens {
  width: 19%;

  @media screen and (max-width: $break-point-large) {
    width: 350px;
  }
}


.recommendations {
  grid-column: 2/4;
  
}

.section-title {
  grid-column: 2/4;
  font-size: 3vw;
  font-family: 'Libre Franklin';
}

.r-card {
  position: relative;
  padding-left: 100px;
  color: #474541;

}

.r-card-title {
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Libre Franklin';
}

.r-card-text {
  font-size: 1.2em;
  font-family: 'Lato';
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  position: absolute;
  top: 7px;
  left: 15px;
}

.notStarted {
  background-color: rgb(160, 160, 160);
} 

.done {
  background-color: rgb(111, 155, 95);
} 

.unsure {
  background-color: rgb(244, 112, 81);
}

.ongoing {
  background-color: rgb(249, 195, 75);
}

.small-line {
  border-bottom: 1px solid black;
  width: 4%;
  position: absolute;
  top: 16px;
  left: 26px
}

.note {
  grid-column: 2;
  margin-top: 5px;
}

span {
  display:block;
  background: black;
  border-radius:2px;
  transition: 0.25s;
}

#menu-toggle {
  width:75px;
  height:75px;
  position:relative;
  cursor:pointer;
  border-radius:5px;

  
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      width:50px;
      height:4px;
      position:relative;
      top:10px;
      left:20px;
      margin:10px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }

  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width:4px;
        position:absolute;
        top:10%;
        left:35px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:4px;
        position:absolute;
        left:10%;
        top:35px;
        transition-delay:.25s;
      }
    }
  }
}

.hamburger-btn {
  position: fixed;
  top:  20px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
}

#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }

  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }    
  }
}

.sidebar-open {
 margin-left: 13.5%;

  @media screen and (max-width: $break-point-large) {
    margin-left: 240px;
  }
}

.modal{
  position: absolute;
  grid-column: 2/4;
  background-color: white;
  width: 100%;
  height: fit-content;
  z-index: 1;
}
